
#################################################################################
#
#  ██████  ██████  ██       █████  ██████  ██    ██  █████  ███    ██  ██████ ███████ 
# ██    ██ ██   ██ ██      ██   ██ ██   ██ ██    ██ ██   ██ ████   ██ ██      ██      
# ██    ██ ██████  ██      ███████ ██   ██ ██    ██ ███████ ██ ██  ██ ██      █████   
# ██    ██ ██      ██      ██   ██ ██   ██  ██  ██  ██   ██ ██  ██ ██ ██      ██      
#  ██████  ██      ███████ ██   ██ ██████    ████   ██   ██ ██   ████  ██████ ███████ 
#                                                                                                                                                              
# Theme Name: OPLAdvance
# Version: 1.0
# Author: PixeliGer
# Based on USBAdvance to relive the early days of USB game loading
# Original Repo: https://github.com/PixeliGer/OPL-Theme-OPLAdvance
#################################################################################

# Main Colors
bg_color=#1c0404
sel_text_color=#ff7200
settings_text_color=#def6f6
text_color=#def6f6
ui_text_color=#adf6bf

# Main Fonts
default_font=AOS-Compact-Small.ttf
font1=Incised-Compact-Small.ttf
font2=Incised-Condensed.ttf
font3=AOS-Compact.ttf

main0:
    type=Background
    pattern=BG
    default=opla_bg
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

main1:
    type=StaticImage
    default=opla_frm
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

main2:
    type=ItemsList
    font=1
    x=50
    y=150
    color=#855f9a
    width=324
    height=280

main3:
    type=MenuIcon
    x=523
    y=160
    aligned=1
    scaled=0
    width=150
    height=27

main4:
    type=ItemText
    font=1
    aligned=1
    x=523
    y=190
    color=#a6eeb9

main5:
    type=ItemCover
    pattern=COV
    x=523
    y=330
    width=112
    height=160
    aligned=1
    overlay=highlight
    overlay_ulx=8
    overlay_uly=10
    overlay_urx=104
    overlay_ury=10
    overlay_llx=8
    overlay_lly=151
    overlay_lrx=104
    overlay_lry=151

main6:
    type=HintText
    font=1
    aligned=1
    x=POS_MID
    y=-30

main7:
    type=LoadingIcon
    x=POS_MID
    y=POS_MID
    width=180
    height=68

mainELM0:
    type=Background
    pattern=BG
    default=opla_bg
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

mainELM1:
    type=StaticImage
    default=opla_frm
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

mainELM2:
    type=ItemsList
    font=1
    x=50
    y=150
    color=#855f9a
    width=324
    height=280

mainELM3:
    type=MenuIcon
    x=523
    y=160
    aligned=1
    scaled=0
    width=150
    height=27

mainELM4:
    type=ItemText
    font=1
    aligned=1
    x=523
    y=190
    color=#a6eeb9

mainELM5:
    type=ItemCover
    pattern=COV
    x=523
    y=330
    width=112
    height=160
    aligned=1
    overlay=highlight
    overlay_ulx=8
    overlay_uly=10
    overlay_urx=104
    overlay_ury=10
    overlay_llx=8
    overlay_lly=151
    overlay_lrx=104
    overlay_lry=151

mainELM6:
    type=HintText
    font=1
    aligned=1
    x=POS_MID
    y=-30

mainELM7:
    type=LoadingIcon
    x=POS_MID
    y=POS_MID
    width=180
    height=68
